{% extends "base.html" %} {% block title %}Edit Driver Priority{% endblock %} {%
block content %}
<section class="edit-driver-priority-section">
  <h1 class="header--primary">Edit Driver Priority</h1>

  <a href="{{ url_for('view_drivers') }}" class="btn--default mb-2">Back</a>

  <form method="POST" class="form">
    {{ form.hidden_tag() }}
    <div class="form__group">
      {{ form.priority.label(class="form__label") }} {{
      form.priority(class="form__input", required=True) }} {% for error in
      form.priority.errors %}
      <div class="form__error">{{ error }}</div>
      {% endfor %}
    </div>
    {{ form.submit(class="btn--default form__btn-submit") }}
  </form>
</section>
{% endblock %}
