{% extends "base.html" %}
{% block title %}Optimizētie Maršruti{% endblock %}
{% block content %}
<h1>Optimizētie Maršruti</h1>
<div id="map" style="height: 600px;"></div>
<script>
    var map = L.map('map').setView([56.9496, 24.1052], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var routes = JSON.parse(`{{ routes | tojson(ensure_ascii=False) | safe }}`);
    console.log(routes);

    routes.forEach(function(route, index) {
        var latlngs = [];
        route.forEach(function(location) {
            latlngs.push([location.latitude, location.longitude]);
            L.marker([location.latitude, location.longitude])
                .addTo(map)
                .bindPopup(location.address);
        });

        var waypoints = latlngs.map(function(latlng) {
            return latlng[1] + ',' + latlng[0];
        }).join(';');

        var osrmUrl = 'https://router.project-osrm.org/route/v1/driving/' + waypoints + '?overview=full&geometries=geojson';

        fetch(osrmUrl)
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                if (data.routes && data.routes.length > 0) {
                    var routeGeoJSON = data.routes[0].geometry;
                    var routeLine = L.geoJSON(routeGeoJSON, {
                        style: {
                            color: getRandomColor(),
                            weight: 4,
                            opacity: 0.7
                        }
                    }).addTo(map);
                } else {
                    alert('Neizdevās izveidot maršrutu pa ceļiem.');
                }
            })
            .catch(function(err) {
                console.error(err);
                alert('Kļūda, iegūstot maršrutu no OSRM.');
            });
    });

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>
{% endblock %}
