{% extends "base.html" %}
{% block title %}Lokāciju Saraksts{% endblock %}
{% block content %}
<h1>Lokāciju Saraksts</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Adrese</th>
        <th>Koordinātes</th>
        <th>Pieprasījums</th>
        <th>Laika Logs</th>
    </tr>
    {% for location in locations %}
    <tr>
        <td>{{ location.id }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.latitude }}, {{ location.longitude }}</td>
        <td>{{ location.demand }}</td>
        <td>{{ location.ready_time }} - {{ location.due_time }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
