{% extends "base.html" %}
{% block title %}Drivers{% endblock %}
{% block content %}
<section class="drivers-section">
  <h1 class="header--primary">Drivers</h1>

  <div class="table drivers-table">
    <!-- Header Row -->
    <div class="table__row table__row--header">
      <div class="table__cell">Nr</div>
      <div class="table__cell">Name</div>
      <div class="table__cell">Surname</div>
      <div class="table__cell">Depot</div>
      <div class="table__cell">Priority</div>
      <div class="table__cell">Edit Priority</div>
    </div>

    {% for driver in drivers %}
    <div class="table__row">
      <div class="table__cell">{{ loop.index }}</div>
      <div class="table__cell">{{ driver.name }}</div>
      <div class="table__cell">{{ driver.surname }}</div>
      <div class="table__cell">{{ driver.depot_address }}</div>
      <div class="table__cell">{{ driver.priority }}</div>
      <div class="table__cell">
        <a href="{{ url_for('edit_driver_priority', driver_id=driver.id) }}" class="table__link">Edit</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
